# 한국교통안전공단_용도별 차종별 연료별 연간 자동차주행거리_20191231

In [1]:
import pandas as pd

In [4]:
car = pd.read_csv('C:/ex/data/한국교통안전공단_용도별 차종별 연료별 연간 자동차주행거리_20191231.csv',encoding='cp949')
car

,용도별,차종별,사용연료별,전국,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,전체,승용차,휘발유,116867557,15251671,6808340,5763724,8621468,3121261,3329225,...,933502,29605058,3563630,3947391,5398890,4102110,4794664,6800914,8990178,2922840
1,전체,승용차,경유,86830023,9922186,4692249,4108136,7558018,2423047,2320477,...,683026,21625490,2880620,3041369,4146530,3488052,4294207,4732506,6170049,2738857
2,전체,승용차,LPG,30751266,4067947,2320609,1767321,2645804,1294888,1016722,...,171445,5676893,877064,1040787,1240655,1363881,1589740,1707179,1969941,1461780
3,전체,승용차,기타연료,8246608,1363397,450594,432720,584504,228486,201319,...,89154,2136704,241932,235605,308074,260291,291003,373488,507699,395216
4,전체,승합차,휘발유,37818,7053,2233,1317,2851,928,1245,...,195,12139,1019,889,1859,892,1056,1667,1432,568
5,전체,승합차,경유,14122146,1576846,676280,436159,812926,271337,288099,...,79666,4021072,612763,606402,927638,598436,767011,828671,991671,391541
6,전체,승합차,LPG,1003660,189346,82795,40722,59216,24084,23037,...,4303,238119,28624,24856,31335,30924,44889,57111,77119,29716
7,전체,승합차,기타연료,2740748,592766,347291,160796,227796,103543,120704,...,11276,641082,32143,48659,36283,59226,69357,60456,107386,7391
8,전체,화물차,휘발유,113668,16037,4944,4181,5549,1417,2098,...,539,35703,7525,5975,6824,3438,3148,6396,5437,3113
9,전체,화물차,경유,61498762,6047503,3812140,3032051,3496730,1755778,1685275,...,296980,15790986,2229893,2600777,3448258,2877817,3330696,4416515,4462769,1005775
10,전체,화물차,LPG,1727224,454832,74591,71424,124370,40273,26239,...,4128,534336,43832,32452,40788,35490,43163,67178,81867,31734
11,전체,화물차,기타연료,1634278,440542,22523,53870,87415,6794,39486,...,0,44357,14803,24284,9550,50647,70324,589247,117717,60113
12,전체,특수차,휘발유,270,101,5,0,27,0,7,...,0,26,0,0,8,19,17,2,52,5
13,전체,특수차,경유,3951437,179291,930021,95842,290715,105250,85560,...,9079,523054,85287,218183,191346,126269,307540,293483,320407,20459
14,전체,특수차,LPG,3386,2005,57,150,26,54,9,...,1,286,27,38,100,160,102,152,201,18
15,전체,특수차,기타연료,25073,3165,0,0,0,0,0,...,59,0,0,0,10141,0,0,0,967,0
16,비사업형,승용차,휘발유,110659186,14769546,6503344,5715626,6374479,3084441,3296585,...,932285,29252888,3526572,3902872,5344662,4021779,4020881,6772399,8711971,1544446
17,비사업형,승용차,경유,80019451,9560501,4350632,4051137,4954844,2367614,2283870,...,680634,21424373,2845596,2991578,4086303,3392147,3343646,4705615,5829558,1168221
18,비사업형,승용차,LPG,18427852,1757408,989001,1100851,861745,920656,658165,...,163572,4118398,598718,712283,990270,1024354,1065146,1410545,1433434,263892
19,비사업형,승용차,기타연료,7542424,1118449,430082,423420,403116,225141,200380,...,88955,2122900,238645,233154,306917,254723,279643,372066,490443,209317
20,비사업형,승합차,휘발유,36558,6462,2195,1242,2839,928,1245,...,195,11721,1001,874,1828,841,1056,1667,1432,559
21,비사업형,승합차,경유,8723617,1121929,450692,321754,535713,209093,236272,...,54248,2408829,341342,351870,507420,382527,411398,536785,579138,120390
22,비사업형,승합차,LPG,984745,184661,81226,40675,56626,23999,22899,...,4303,237394,28536,24778,31262,30716,38136,57085,76449,28640
23,비사업형,승합차,기타연료,63082,21281,3399,3458,5557,2425,2942,...,1735,6832,852,136,538,2336,233,4945,5829,0
24,비사업형,화물차,휘발유,113319,15953,4944,4181,5549,1417,2098,...,539,35437,7525,5975,6824,3438,3148,6396,5437,3113
25,비사업형,화물차,경유,43694501,3862306,2357929,2133372,2562571,1125144,1073549,...,206009,10643849,1835712,1892156,2596964,2194594,2589926,3500195,3488581,859323
26,비사업형,화물차,LPG,1171794,215860,67798,59476,81235,32163,25021,...,3911,305536,42484,30738,37979,34123,41598,63112,79070,31639
27,비사업형,화물차,기타연료,630570,196112,22523,53870,5532,6794,39486,...,0,20062,14803,24284,9550,42012,57200,47101,85102,3533
28,비사업형,특수차,휘발유,270,101,5,0,27,0,7,...,0,26,0,0,8,19,17,2,52,5
29,비사업형,특수차,경유,396147,32911,17986,14453,33899,11100,9817,...,2712,83058,17226,17258,27414,20441,23595,36825,30626,6772
30,비사업형,특수차,LPG,1408,55,57,150,26,54,9,...,1,286,27,38,100,160,102,125,201,18
31,비사업형,특수차,기타연료,14932,3165,0,0,0,0,0,...,59,0,0,0,0,0,0,0,967,0
32,사업형,승용차,휘발유,6208371,482125,304996,48098,2246989,36820,32640,...,1216,352170,37059,44519,54228,80331,773783,28515,278207,1378394
33,사업형,승용차,경유,6810572,361685,341617,56999,2603174,55434,36607,...,2392,201118,35024,49791,60227,95905,950562,26891,340491,1570636
34,사업형,승용차,LPG,12323414,2310539,1331609,666470,1784059,374232,358556,...,7873,1558495,278345,328504,250385,339527,524594,296633,536507,1197888
35,사업형,승용차,기타연료,704183,244948,20512,9301,181388,3345,939,...,199,13804,3287,2450,1157,5568,11359,1422,17256,185899
36,사업형,승합차,휘발유,1260,592,37,76,12,0,0,...,0,418,18,15,31,51,0,0,0,9
37,사업형,승합차,경유,5398529,454917,225588,114405,277214,62245,51827,...,25418,1612243,271421,254532,420218,215909,355613,291887,412532,271151
38,사업형,승합차,LPG,18915,4685,1569,47,2590,85,138,...,0,725,89,78,73,208,6753,26,670,1076
39,사업형,승합차,기타연료,2677667,571485,343891,157338,222239,101118,117762,...,9541,634250,31291,48523,35745,56889,69124,55511,101557,7391
40,사업형,화물차,휘발유,349,84,0,0,0,0,0,...,0,265,0,0,0,0,0,0,0,0
41,사업형,화물차,경유,17804261,2185197,1454211,898679,934159,630635,611726,...,90971,5147137,394181,708621,851294,683223,740770,916320,974188,146453
42,사업형,화물차,LPG,555431,238972,6793,11948,43135,8110,1218,...,217,228800,1348,1714,2809,1366,1565,4065,2797,95
43,사업형,화물차,기타연료,1003708,244430,0,0,81883,0,0,...,0,24295,0,0,0,8635,13124,542146,32615,56580
44,사업형,특수차,휘발유,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,사업형,특수차,경유,3555290,146381,912035,81389,256816,94150,75743,...,6367,439996,68060,200925,163932,105828,283945,256658,289781,13687
46,사업형,특수차,LPG,1977,1951,0,0,0,0,0,...,0,0,0,0,0,0,0,27,0,0
47,사업형,특수차,기타연료,10141,0,0,0,0,0,0,...,0,0,0,0,10141,0,0,0,0,0

단위: 1000km

In [99]:
a = car.사용연료별
b = a[:4].tolist()
b

['휘발유', '경유', 'LPG', '기타연료']

In [ ]:
li = car.columns.tolist()
col = li[3:]
col
a = car.사용연료별
b = a[:4].tolist()
b

['전국',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [103]:
car.서울.iloc[[i for i in range(0,48) if i%4==0]]

0     15251671
4         7053
8        16037
12         101
16    14769546
20        6462
24       15953
28         101
32      482125
36         592
40          84
44           0
Name: 서울, dtype: int64

In [ ]:
car.서울.iloc[[i for i in range(0,48) if i%4==0]]

In [100]:
car.head(4)

,용도별,차종별,사용연료별,전국,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,전체,승용차,휘발유,116867557,15251671,6808340,5763724,8621468,3121261,3329225,...,933502,29605058,3563630,3947391,5398890,4102110,4794664,6800914,8990178,2922840
1,전체,승용차,경유,86830023,9922186,4692249,4108136,7558018,2423047,2320477,...,683026,21625490,2880620,3041369,4146530,3488052,4294207,4732506,6170049,2738857
2,전체,승용차,LPG,30751266,4067947,2320609,1767321,2645804,1294888,1016722,...,171445,5676893,877064,1040787,1240655,1363881,1589740,1707179,1969941,1461780
3,전체,승용차,기타연료,8246608,1363397,450594,432720,584504,228486,201319,...,89154,2136704,241932,235605,308074,260291,291003,373488,507699,395216

## 어떤 차종을 가장 많이 이용하는가

In [5]:
car['차종별']=='승용차'

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33     True
34     True
35     True
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
Name: 차종별, dtype: bool

In [10]:
# 승용차인 경우의 개수
li = list(car['차종별']=='승용차')
li
li.count(True)

12

In [11]:
values = car['차종별'].unique()
print('values:',values)

values: ['승용차' '승합차' '화물차' '특수차']

In [19]:
li1 = list(car['차종별']=='승용차')
print(li1.count(True))
li2 = list(car['차종별']=='승합차')
print(li2.count(True))
li3 = list(car['차종별']=='화물차')
print(li3.count(True))
li4 = list(car['차종별']=='특수차')
print(li4.count(True))

12
12
12
12

### 어떤 차종을 가장 많이 이용하는가
#### => 각 차종을 이용하는 수가 동일하다

In [21]:
car.describe()

,전국,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
count,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,48.000000,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01
mean,1.373141e+07,1.671445e+06,8.426946e+05,6.653506e+05,1.021559e+06,3.907142e+05,3.808126e+05,3.076989e+05,95139.687500,3.370221e+06,4.424651e+05,4.928194e+05,6.582616e+05,5.415688e+05,6.502882e+05,8.306235e+05,9.918705e+05,3.778803e+05
std,2.873570e+07,3.562926e+06,1.657475e+06,1.444163e+06,2.014962e+06,8.133144e+05,8.228783e+05,7.014329e+05,228652.070045,7.423447e+06,9.513825e+05,1.038299e+06,1.416550e+06,1.129197e+06,1.250665e+06,1.746042e+06,2.179442e+06,7.026881e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.368675e+04,6.017750e+03,1.191000e+03,1.500000e+02,2.776750e+03,7.725000e+01,1.057500e+02,4.740000e+02,1.000000,5.305250e+03,7.350000e+01,6.800000e+01,1.002250e+03,6.827500e+02,8.502500e+02,1.104500e+03,1.315750e+03,7.575000e+01
50%,1.087751e+06,2.274160e+05,7.119450e+04,5.098400e+04,8.464900e+04,2.404150e+04,2.563000e+04,1.741300e+04,2552.000000,2.330970e+05,2.858000e+04,2.481700e+04,3.129850e+04,3.480650e+04,4.402600e+04,5.629800e+04,8.046850e+04,2.454950e+04
75%,8.365860e+06,1.182296e+06,7.352188e+05,4.257450e+05,8.251308e+05,2.259772e+05,2.100572e+05,1.621102e+05,60602.500000,2.126351e+06,2.731520e+05,2.730250e+05,3.361100e+05,2.801000e+05,5.786380e+05,5.381252e+05,5.149010e+05,3.012485e+05
max,1.168676e+08,1.525167e+07,6.808340e+06,5.763724e+06,8.621468e+06,3.121261e+06,3.329225e+06,2.912692e+06,933502.000000,2.960506e+07,3.563630e+06,3.947391e+06,5.398890e+06,4.102110e+06,4.794664e+06,6.800914e+06,8.990178e+06,2.922840e+06

## 각 지역별로 어떤 연료로 가장 많이 달리는가
### 서울

In [90]:
# for i in range(0,48):
#     if i%4==0:
        # print(i)
seoul_h = pd.DataFrame(car.iloc[[i for i in range(0,48) if i%4==0 ]])
seoul_h

,용도별,차종별,사용연료별,전국,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,전체,승용차,휘발유,116867557,15251671,6808340,5763724,8621468,3121261,3329225,...,933502,29605058,3563630,3947391,5398890,4102110,4794664,6800914,8990178,2922840
4,전체,승합차,휘발유,37818,7053,2233,1317,2851,928,1245,...,195,12139,1019,889,1859,892,1056,1667,1432,568
8,전체,화물차,휘발유,113668,16037,4944,4181,5549,1417,2098,...,539,35703,7525,5975,6824,3438,3148,6396,5437,3113
12,전체,특수차,휘발유,270,101,5,0,27,0,7,...,0,26,0,0,8,19,17,2,52,5
16,비사업형,승용차,휘발유,110659186,14769546,6503344,5715626,6374479,3084441,3296585,...,932285,29252888,3526572,3902872,5344662,4021779,4020881,6772399,8711971,1544446
20,비사업형,승합차,휘발유,36558,6462,2195,1242,2839,928,1245,...,195,11721,1001,874,1828,841,1056,1667,1432,559
24,비사업형,화물차,휘발유,113319,15953,4944,4181,5549,1417,2098,...,539,35437,7525,5975,6824,3438,3148,6396,5437,3113
28,비사업형,특수차,휘발유,270,101,5,0,27,0,7,...,0,26,0,0,8,19,17,2,52,5
32,사업형,승용차,휘발유,6208371,482125,304996,48098,2246989,36820,32640,...,1216,352170,37059,44519,54228,80331,773783,28515,278207,1378394
36,사업형,승합차,휘발유,1260,592,37,76,12,0,0,...,0,418,18,15,31,51,0,0,0,9
40,사업형,화물차,휘발유,349,84,0,0,0,0,0,...,0,265,0,0,0,0,0,0,0,0
44,사업형,특수차,휘발유,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
seoul_k = pd.DataFrame(car.iloc[[i for i in range(0,48) if i%4==1 ]]['서울'])
seoul_k

         서울
1   9922186
5   1576846
9   6047503
13   179291
17  9560501
21  1121929
25  3862306
29    32911
33   361685
37   454917
41  2185197
45   146381

In [40]:
seoul_l = pd.DataFrame(car.iloc[[i for i in range(0,48) if i%4==2 ]]['서울'])
seoul_l

         서울
2   4067947
6    189346
10   454832
14     2005
18  1757408
22   184661
26   215860
30       55
34  2310539
38     4685
42   238972
46     1951

In [124]:
li = car.columns.tolist()
col = li[3:]
col

['전국',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [110]:
a = car.사용연료별
b = a[:4].tolist()
b

['휘발유', '경유', 'LPG', '기타연료']

In [111]:
import numpy as np

In [136]:
seoul_h = car.iloc[[i for i in range(0,48) if i%4==0]][col]
ss1 = seoul_h.sum()
seoul_k = car.iloc[[i for i in range(0,48) if i%4==1]][col]
ss2 = seoul_k.sum()
seoul_l = car.iloc[[i for i in range(0,48) if i%4==2]][col]
ss3 = seoul_l.sum()
seoul_g = car.iloc[[i for i in range(0,48) if i%4==3]][col]
ss4 = seoul_g.sum()

data = np.array([[ss1],[ss2],[ss3],[ss4]])
w = data.reshape(4,18)
w

array([[234038626,  30549725,  13631043,  11538445,  17259790,   6247212,
          6665150,   5829022,   1868471,  59305851,   7144349,   7908510,
         10815162,   8212918,   9597770,  13617958,  17994198,   5853052],
       [332804736,  35451653,  20221380,  15344376,  24316779,   9110827,
          8758822,   7238595,   2137502,  83921205,  11617125,  12933462,
         17427544,  14181148,  17398909,  20542351,  23889791,   8313265],
       [ 66971072,   9428261,   4956105,   3759234,   5658832,   2718598,
          2132013,   1153204,    359754,  12899268,   1899094,   2196266,
          2625756,   2860909,   3355788,   3663238,   4258256,   3046496],
       [ 25293414,   4799740,   1640815,   1294773,   1799430,    677646,
           723018,    548724,    200978,   5644286,    577756,    617095,
           728096,    740327,    861367,   2046382,   1467538,    925440]],
      dtype=int64)

In [142]:
final = pd.DataFrame(data=w,columns=[col])
new = '사용연료별'
dataa = ['휘발유', '경유', 'LPG', '기타연료']
final.insert(0,new,dataa)

final.set_index('사용연료별',inplace=True)
final

,전국,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
사용연료별,,,,,,,,,,,,,,,,,,
"(휘발유,)",234038626,30549725,13631043,11538445,17259790,6247212,6665150,5829022,1868471,59305851,7144349,7908510,10815162,8212918,9597770,13617958,17994198,5853052
"(경유,)",332804736,35451653,20221380,15344376,24316779,9110827,8758822,7238595,2137502,83921205,11617125,12933462,17427544,14181148,17398909,20542351,23889791,8313265
"(LPG,)",66971072,9428261,4956105,3759234,5658832,2718598,2132013,1153204,359754,12899268,1899094,2196266,2625756,2860909,3355788,3663238,4258256,3046496
"(기타연료,)",25293414,4799740,1640815,1294773,1799430,677646,723018,548724,200978,5644286,577756,617095,728096,740327,861367,2046382,1467538,925440

In [148]:
final = pd.DataFrame(data=w,columns=[col])
new = '사용연료별'
dataa = ['휘발유', '경유', 'LPG', '기타연료']
final.insert(0,new,dataa)
aaa = final['사용연료별'].replace('(', '', regex=False).replace(')', '', regex=False).replace(',', '', regex=False)
aaa.set_index('사용연료별',inplace=True)
final

,사용연료별,전국,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,휘발유,234038626,30549725,13631043,11538445,17259790,6247212,6665150,5829022,1868471,59305851,7144349,7908510,10815162,8212918,9597770,13617958,17994198,5853052
1,경유,332804736,35451653,20221380,15344376,24316779,9110827,8758822,7238595,2137502,83921205,11617125,12933462,17427544,14181148,17398909,20542351,23889791,8313265
2,LPG,66971072,9428261,4956105,3759234,5658832,2718598,2132013,1153204,359754,12899268,1899094,2196266,2625756,2860909,3355788,3663238,4258256,3046496
3,기타연료,25293414,4799740,1640815,1294773,1799430,677646,723018,548724,200978,5644286,577756,617095,728096,740327,861367,2046382,1467538,925440

In [45]:
sum1 = seoul_h['서울'].sum()
print(sum1)
sum2 = seoul_k['서울'].sum()
print(sum2)
sum3 = seoul_l['서울'].sum()
print(sum3)
sum4 = seoul_g['서울'].sum()
print(sum4)

di_seoul = {'휘발유':sum1,'경유':sum2,'LPG':sum3,'기타연료':sum4}

li_seoul = [di_seoul[sum1],di_seoul[sum2],di_seoul[sum1],di_seoul[sum1],]
li_seoul.sort
print(li_seoul)

30549725
35451653
9428261
4799740
[30549725, 35451653, 9428261, 4799740]

In [107]:
a = pd.DataFrame(car.서울.iloc[[i for i in range(0,48) if i%4==0]])
b = a['서울'].sum()
b

a = pd.DataFrame(car.서울.iloc[[i for i in range(0,48) if i%4==0]])
b = a['서울'].sum()
b
# summ = a['서울'].sum

30549725

In [75]:
di_seoul = {sum1:'휘발유',sum2:'경유',sum3:'LPG',sum4:'기타연료'}
li=[]
for key in di_seoul.keys():
    li.append(key)
li = sorted(li,reverse=True)
# print(li)
li2 = [di_seoul[key] for key in li]
print(li2)



# 숫자를 순서대로 나열한다
# li_seoul = [sum1,sum2,sum3,sum4]
# li_seoul.sort
# print(li_seoul)

['경유', '휘발유', 'LPG', '기타연료']

In [76]:
import numpy as np

In [86]:
# data_seoul = np.array([[1,2,3,4],['경유', '휘발유', 'LPG', '기타연료']])
# ssoul = pd.DataFrame(data=data_seoul,columns=['순위','서울'])
# # 
# ssoul

data_seoul = pd.DataFrame({'순위':[1,2,3,4]})
data_seoul['서울'] = ['경유', '휘발유', 'LPG', '기타연료']
data_seoul.set_index('순위',inplace=True)
data_seoul

      서울
순위
1     경유
2    휘발유
3    LPG
4   기타연료

In [ ]:
sss = pd.DataFrame({})

In [34]:
seoul.describe()

                 서울
count  1.200000e+01
mean   2.545810e+06
std    5.824807e+06
min    0.000000e+00
25%    1.010000e+02
50%    6.757500e+03
75%    1.325590e+05
max    1.525167e+07

In [23]:
for i in range(0,30):
    if i%4==0:
        print(i)

0
4
8
12
16
20
24
28

In [ ]:
seoul1 = pd.